body
{
    width: 100%;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
    color: #40514E;
}
h1
{
    font-size: 562.5%;
    margin:10% auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 80%;
}
h2
{
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    margin: 1.875rem auto 1rem auto;
    color: #66BFBF;
    padding-bottom: 10px;
}
h3
{
    font-weight: normal;
    font-size: 1.2rem;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p
{
    line-height: 2;
}
span
{
    text-decoration: underline;
}
.top-container
{

    background-color:#E4F9F5;
    position: relative;
    padding-top:1px;
}
.top-cloud
{
    position: absolute;
    top: 1.875rem;
    left: 80%;
    width:15%;
    
}
.bottom-cloud
{  
    position: absolute;
    left: 10%;
    bottom: 20%;
    width: 15%;
}
.mountain
{
    width: 55%;
}
a
{
    color: #11999E;
    font-family: 'Montserrat',sans-serif;
    padding: 5px 20px 10px 20px;
}
a:hover
{
     color: #EAF6F6;
}
.subtitle
{
    font-weight: normal;
}
.skill-row
{
    margin:20px auto;
    width: 80%;
    text-align: left;
    line-height: 2;
}
.skill-image-1
{
    width: 10%;
    float: left;
    margin-right: 30px;
}
.skill-image-2
{
    width: 10%;
    float: right;
    margin-right: 30px;
}
.middle-container
{
    padding: 50px 0;
}
hr
{
    border: dotted;
    border-top: none;
    width: 5%;
    color: #74d4c0; 
    border-width: 6px;
    margin: 100px auto 100px auto;
}
.bottom-container
{
    background-color: #66BFBF;
    
    padding-top: 50px;
    padding-bottom: 20px;
}
.copyright
{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  