/* DARK MODE */

.dark-mode .top-container {
  background-color: #d31313;
}
.dark-mode .middle-container {
  background-color: #16b516;
}
.dark-mode .navbar {
  background-color: #9c9014;
}
.dark-mode .bottom-container {
  background-color: #126dc8;
}
.dark-mode h1 {
  color: #14ca8d;
}
.dark-mode h2 {
  color: #c39710;
}
.dark-mode h3 {
  color: #9a0fea;
}
.dark-mode p {
  color: #068ab6;
}
.dark-mode span {
  color: #eeeeee;
}
.dark-mode .dark {
  color: rgb(154, 17, 69);
}
.dark-mode hr {
  color: #4ecca3;
}
.dark-mode .btn-default {
  background-color: #4ecca3;
}
.dark-mode i {
  color: #4ecca3;
}
.dark-mode .mail {
  color: #eeeeee;
}
.dark-mode .nav-link {
  color: #da2222 !important;
}
.dark-mode .navbar-brand {
  color: #eeeeee;
}
.dark-mode .custom-toggler {
  border-color: #4ecca3;
  background-color: #eeeeee;
}
/* DARK MODE CSS ENDS */

body {
  font-family: "Merriweather", serif;
  text-align: center;
  color: #06a5e3;
}
.navbar {
  background-color: #1193f7;
}
h1 {
  font-size: 569.5%;
  margin: 10% auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #28abb9;
  line-height: 80%;
}
h2 {
  font-weight: bolder;
  font-family: "bungee shade";
  font-size: 500%;
  margin: 1.875rem auto 1rem auto;
  color: #1d24f3;
  padding-bottom: 10px;
}
h3 {
  font-weight: bold;
  font-size: 1.9rem;
  display: inline-block;
  font-family: "biorhyme";
  color: #269e11;
  margin-top: 10%;
}
p {
  font-weight: lighter;
  font-family: "biorhyme";
  line-height: 2;
}
span {
  color: #1cefcc;
}
.top-container {
  background-color: #00e1ff;
  position: relative;
  padding-top: 2rem;
  margin-top: 9rem;
}
.top-cloud {
  position: absolute;
  top: 1.875rem;
  left: 80%;
  width: 15%;
}
.bottom-cloud {
  position: absolute;
  left: 10%;
  bottom: 20%;
  width: 15%;
}
.mountain {
  width: 95%;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  padding: 5px 20px 10px 20px;
}
a:hover {
  color: #b3ff00;
}
.subtitle {
  font-weight: normal;
}
.skill-row {
  margin: 20px auto;
  width: 100%;
  text-align: left;
  line-height: 2;
}
.skill-image-2 {
  display: block;
  margin: 30px auto;
  width: 50%;
}
.skill-image-1 {
  display: block;
  margin: 30px auto;
  width: 60%;
}
.middle-container {
  padding: 50px 0;
}
hr {
  border: dotted;
  border-top: none;
  width: 5%;
  color: #63e99b;
  border-width: 6px;
  margin: 100px auto 100px auto;
}
.bottom-container {
  background-color: #19f3cb;
  padding-top: 50px;
  padding-bottom: 20px;
}
.copyright {
  color: #0a0c80;
  font-size: 0.75rem;
  padding: 20px 0;
}
.fab {
  color: #00d4d4;
}
.fab:hover {
  color: #1aedc6;
}
.btn-default {
  background-color: #11999e;
  color: #15d2b0;
}
.btn-default:hover {
  color: #11999e;
  background-color: #40514e;
}
.dark {
  color: #4be330;
  border-color: #00ff80;
  position: fixed;
  left: 90%;
  top: 90%;
}
